myenv/
my-env/
python-env/
*-venv/
*_env/
*-env/
*.zip
*_temp.py

# Python cache files
__pycache__/
*.py[cod]
*$py.class
*.so

# __init__.py files
__init__.py


# IDE settings
.vscode/

# debug info
debug_output/
